* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: Helvetica;
  background-color: black;
  color: seashell;
  text-align: center;
  text-transform: capitalize;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: black;
  opacity: 0.9;
}

img {
  display: block;
  height: 50px;
  margin: 10px;
}

nav {
  width: 33%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-left: 25px;
  position: relative;
  right: 12px;
}

a {
  color: seashell;
}

#banner-container {
  display: flex;
  justify-content: center;
}
#background-mission {
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#mission-banner {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

#mission-banner h2,
#mission-banner h4 {
  margin: 10px 0;
}
